.my-body-service{
    display: inline-flex;
    color: #000;
    text-align: center;
}
.my-body-service .my-service{
    margin: 0vw 5vw;
    
}
.my-service img{
    width: 12vw;
}


.my-body-service{
    display: inline-flex;
    
}