.my-quem-somos{
    height: 83vh;    
    text-align: center;
    background-image: url("../../img-css/team.jpg");    
}
.my-corpo-quem-somos{
    display: inline-flex;
}
.my-bloco-funcionario{
    min-width: 25vw;
    margin: 0vw 3vw;
    text-align: center;
    padding: 5vh;
    background-color: rgba(255, 255, 255, 0.7) ;
}
.my-bloco-funcionario img{
    border-radius: 100px;
    margin-bottom: 3vh;
    width: 10vw;
}

.my-team{
    opacity: 1.0!important;
    font-weight: bolder;
    background-color: rgba(210, 195, 220, 0.5) ;
    margin-top: -8vh;
    padding-top: 8vh;
}

.my-text-team{
    font-size: 1.1rem;
    font-weight: 750;
}
.my-text-team h5{
    font-size: 1.5rem;
    font-weight: 800;
}
.my-description-team{
    margin-top: 4vh;
    margin-bottom: 4vh;
    background-color: rgba(255, 255, 255, 0.7) ;
}