.my-contato{
    min-height: 93vh;
    display:inline-flex;
    padding-bottom: 5vh;
    
}
.my-contato div{
    margin-left: auto;
    margin-right: auto;
}
.my-form{
    width: 36vw;
    min-height: 79vh;
    border: solid 1px;
    border-color: #000;
    background-color: #fff;
    padding: 6vh;
    margin-top: 2vh;
}
.my-form input{
    width: 100%;
}

.my-contato .my-form h1{
    color: black!important;
    margin-bottom: 1vh;
}
.my-img-contato{
    width: 20vw;
    height: 60vh;
    font-weight: bold;
    align-items: center;
    text-align: center;
    margin-top: 8vh;
    padding: 0px!important;
    
}
.my-img-contato .logo-contato{
    width: 100%;
    margin:0px!important;
}
.my-img-contato .redes{
    width: 70%;
    margin-bottom: 2vh;
}
.my-form button{
    width: 100%;
    color: #fff;
    margin-top: 3vh;
    margin-bottom: 6vh;
}
