.my-site .nav-body{
    min-height: 77vh;
    color: #000;
    text-align: center;
    padding-top: 8vh;
    
}
body nav{
    background-color: #fff!important;
}
.nav-body .my-title{
    font-family: Impact, fantasy;
    margin-bottom: 5vh;
    font-weight: 800;
    font-size: 2.5rem;
}

